<!-- views/content/viewContent.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>View Uploaded Content</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Uploaded Educational Content</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>File Type</th>
        <th>Uploaded By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% contents.forEach(content => { %>
        <tr>
          <td><%= content.title %></td>
          <td><%= content.description %></td>
          <td><%= content.fileType %></td>
          <td><%= content.uploadedBy.name %></td>
          <td><a href="/uploads/<%= content.filePath %>">Download</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
